
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
   font-family: "Quicksand", sans-serif;
}




h1 {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.counter {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.image {
  object-fit: cover;
  width: 142%;
  height: 213px;
}



.NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 80%;
}


.buttons-container {
  display: flex;
}

.copy-button {
 
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
}



