
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-y: hidden;
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Quicksand", sans-serif;
  
}

.controls-wrapper {
 margin-top: 20vh;
}


h1 {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  height: 10vh;
    transition: 1s ease-in-out;
}

h2 {
    transition: 1s ease-in-out;
}

p {
    transition: 1s ease-in-out;
}

.counter {
  width: 101%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
    transition: 1s ease-in-out;
    height: 100px;
}

.image {
  object-fit: cover;
  width: 142%;
  height: 213px;
}


.search {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 80%;
}


ntainer {
  display: flex;
}

.copy-button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
}



