
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-y: auto;
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Quicksand", sans-serif;
  
}


h2 {
    transition: 1s ease-in-out;
}

p {
    transition: 1s ease-in-out;
}


.App-fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  will-change: transform, opacity;
}


.Header {
  cursor: pointer;
}




.counter {
  width: 101%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 30px;
    transition: 1s ease-in-out;
    height: 100px;
}

.image {
  object-fit: cover;
  width: 142%;
  height: 213px;
}




.search {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;
}


.NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 80%;
}

.action-buttons-expanded.closing {
  opacity: 0;
  transform: translateY(-10px);
}


.copy-button {
  position: absolute;
  width: 60px;
  height: 40px;
  bottom: 55px;
  left: -45px;
  border-radius: 20px;
  font-size: 20px;
  opacity: 1;
  transform: rotate(-20deg);
}

.share-button {
  position: absolute;
  bottom: 55px;
  left:25px;
  width: 60px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  opacity: 1;
  transform: rotate(20deg);
}

