
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}


h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.image {
  object-fit: cover;
 width: 142%;
    height: 213px;
}



