
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
}




h1 {
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.image {
  object-fit: cover;
  width: 142%;
  height: 213px;
}

.favorite-button {
  height: 30px;
  border-radius: 20px;
}

.favorite-button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
  
}

.NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 80%;
}


.buttons-container {
  display: flex;
}

.copy-button {
 
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
}



