
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.light {
  background-color: rgb(232, 232, 232);
}

.dark {
    background-color: rgb(44, 44, 44);

}

.Header {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-size: 1.5rem; /* Уменьшен для лучшей читаемости */
  letter-spacing: 0.5rem; /* Уменьшен, чтобы текст не был слишком растянутым */
  width: 100%;
  height: 10vh;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transition: 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between; /* Изменено для равномерного распределения элементов */
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 0 20px; /* Добавлен padding для предотвращения вылезания элементов */
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-y: auto;
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
  font-family: "Quicksand", sans-serif;
  
}


h2 {
    transition: 1s ease-in-out;
}

p {
    transition: 1s ease-in-out;
}


.App-fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  will-change: transform, opacity;
}


.Header {
  cursor: pointer;
}




.counter {
  width: 101%;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: 1s ease-in-out;
  
}

.image {
  object-fit: cover;
  width: 142%;
  height: 213px;
}

.centered-counter {
  margin: 20px;
  display: flex;
  justify-content: center;
}
/* Стили для controls-wrapper */


.search {
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2vh
}





.NotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 80%;
}

.action-buttons-expanded.closing {
  opacity: 0;
  transform: translateY(-10px);
}


.copy-button {
  position: absolute;
  width: 60px;
  height: 40px;
  bottom: 55px;
  left: -45px;
  border-radius: 20px;
  font-size: 20px;
  opacity: 1;
  transform: rotate(-20deg);
}

.share-button {
  position: absolute;
  bottom: 55px;
  left:25px;
  width: 60px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  opacity: 1;
  transform: rotate(20deg);
}

