
.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  font-size: 1rem;
  letter-spacing: 1rem;
  width: 100%;
  height: 70vh;
}

.Main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.first_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.internal_content {
  margin: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vh;
  height: 10vh;
  background-color: white;
  color: black;
  border-radius: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}




