/* Стили для компьютера (начиная с 1024px) */
@media (min-width: 1024px) {
  .Main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки для большего экрана */
    gap: 3vw; /* Резиновый отступ */
    padding: 4vw; /* Резиновый padding */
  }
  .first_block {
    height: 35vh; /* Уже относительно */
  }
  .internal_content {
    width: 85%; /* Резиново относительно родителя */
    height: 30vh; /* Уже относительно */
    margin: 3vh; /* Уже относительно */
  }
  .buttons-container {
    bottom: -1.5vh; /* Резиново */
    gap: 2vw; /* Резиновый gap */
  }
  .action-button-expanded {
    width: 3.5em; /* Резиново относительно шрифта */
    height: 3.5em;
    font-size: 2.5em; /* Резиново */
  }
  .favorite-button, .dislike-button {
    width: 3.5em;
    height: 3.5em;
    font-size: 2.5em;
  }
  .copy-button, .share-button {
    width: 3em;
    height: 3em;
    font-size: 1.2em;
  }
  .controls-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2vw; /* Резиново */
  }
  .buttons-favorites {
    width: auto;
    gap: 1.5vw; /* Резиново */
  }
  .Favorites.light, .Favorites.dark, .Dislikes.light, .Dislikes.dark {
    width: 10em; /* Резиново относительно шрифта */
    height: 3em;
    font-size: 1.2em;
  }
  .section-select {
    width: 15em; /* Резиново */
    font-size: 1.2em;
  }
  .search-input {
    width: 20em; /* Резиново */
    font-size: 1.2em;
    height: 3em;
  }
  .Pagination {
    width: 100%;
  }
  .Pagination-button.light, .Pagination-button.dark {
    width: 8em; /* Резиново */
    height: 2.5em;
    font-size: 1.2em;
  }
}
