.Footer  {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  letter-spacing: 1rem;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

