/* Overlay (фон модала) */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный фон */
  z-index: 1000; /* Над всем контентом */
  cursor: pointer; /* Курсор для закрытия */
  will-change: opacity;
}



@keyframes modalFadeIn {
  to {
    opacity: 1;
  }
}

/* Контейнер изображения */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8); 
  max-width: 90vw; /* Не больше 90% ширины экрана */
  max-height: 90vh; /* Не больше 90% высоты экрана */
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8); /* Начальный масштаб */
  opacity: 0; /* Начальная прозрачность */
  cursor: default; /* Курсор по умолчанию внутри */
  animation: modalContentFadeIn 0.3s ease-out 0.1s forwards; 
}

/* Изображение */
.modal-image {
  max-width: 200vh; /* Ограничено контейнером */
  max-height: 100%; /* Ограничено контейнером */
  object-fit: contain; /* Сохраняет пропорции, не обрезает */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Тень для эффекта */
  will-change: transform;
  border-radius: 20px;
}


@keyframes modalContentFadeIn {
  to {

    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

/* Кнопка закрытия */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 1001; /* Поверх всего остального */
}



.close-button:hover {
  background: rgba(255, 255, 255, 1);
}

/* Для темной темы (если нужно) */
.dark .modal-overlay {
  background: rgba(0, 0, 0, 0.9);
}

.dark .close-button {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.dark .close-button:hover {
  background: rgba(0, 0, 0, 1);
}